Monitor.SystemTests/Service References/Hub/Hub1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Monitor.Core.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Monitor.Core.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1385/Hub.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MonitoredEventRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventMonitorId" type="ser:guid" />
      <xs:element minOccurs="0" name="MonitoredEvent" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoredEventRequest" nillable="true" type="tns:MonitoredEventRequest" />
  <xs:complexType name="MonitoredEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventCategory" nillable="true" type="tns:EventCategory" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoredEvent" nillable="true" type="tns:MonitoredEvent" />
  <xs:complexType name="EventCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventCategory" nillable="true" type="tns:EventCategory" />
  <xs:complexType name="MonitoredEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoredEventResponse" nillable="true" type="tns:MonitoredEventResponse" />
</xs:schema>